# Ignore virtual environment
mbti_env/

# Ignore caches
__pycache__/
.cache/

# Ignore large datasets and model files
data/
models/
outputs/
logs/*.json

# Ignore downloaded audio and ffmpeg binaries
ffmpeg-master-latest-win64-gpl/
*.mp3
*.m4a
*.part
*.npy
*.npz
*.pt

# Ignore secret environment variables
.env
