# Core Data & ML
pandas
numpy
xgboost
scikit-learn
joblib
scipy
imbalanced-learn

# Audio processing
librosa
soundfile
ffmpeg-python
soxr
audioread

# Networking / Scraping / Text / NLP
requests
beautifulsoup4
yt-dlp
spotifyscraper
syncedlyrics
deep-translator
transformers

# Deep learning
torch
torchvision
torchaudio

# Visualization & Notebooks
matplotlib
seaborn
ipykernel

# Config / Utilities
python-dotenv
PyYAML
tqdm
